// colors
$c-main = #f00
$c-bg = #fee
$c-codebg = #222
$c-title = #333
$c-text = #555
$c-shadow = rgba(0, 0, 0, .3)
$c-white = #fff
$c-black = #000

// size
$s-main = 55rem
$s-phone = 30rem
$s-header = 3rem
$s-cover = 20rem
// search
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
